// Your custom variables
$primary: #00517d !default;
$secondary: #767676 !default;
$success: #25a069 !default;
$danger: #a6012c !default;
$warning: #b59564 !default;
$info: #54b4d3 !default;
$light: #fbfbfb !default;
$dark: #332d2d !default;